<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BackupGenerationShaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ShaperConfig" type="BackupGenerationShaper.ShaperConfig,BackupGenerationShaper"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <BackupGenerationShaper.Properties.Settings>
      <setting name="PropertiesIndividualUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </BackupGenerationShaper.Properties.Settings>
    <ShaperConfig>
      <DebugOptions
        IsSimulateOnly="false"
        IsInteractive="true"
        OnExceptionSendMail="true"
        MailTo="w.muellauer@mdc.at"
        MailFrom="spike.mdc@mdc.at"
        MailSMTP="mail.mdc.at"/>
      <LogOptions
        LogToScreen="true"
        LogToFile="true"
        LogDirectory="c:\tmp"/>
      <DirectoryList>
        <add DirectoryName="c:\tmp" TsFormat="yyyy_MM_dd_hh_mm_ss" GenerationCount="2" />
      </DirectoryList>
    </ShaperConfig>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
