<?xml version="1.0" encoding="utf-8" ?>

<ShaperConfig>
  <DebugOptions
    IsSimulateOnly="true"
    IsInteractive="true"
    OnExceptionSendMail="true"
    MailReceiverList="email@receiverdomain.com"
    MailSender="email@senderdomain.com"
    MailSmtpHostname="smtp.sendgrid.net"
    MailSmtpPort="000"
    MailSmtpUsername="username"
    MailSmtpPassword="password" />
  <LogOptions
    LogToScreen="true"
    LogToFile="true"
    LogDirectory="c:\tmp"/>
  <FtpOptions
    Username="username"
    Password="password"
    HostName="hostname.domain.com" />
  <DirectoryList>
    <add ProtocolName="ftp:"  DirectoryName="/Backup/Servers/SrvFilePrintDaily" TsFormat="yyyy_MM_dd" GenerationCount="10" />
    <add ProtocolName="file:" DirectoryName="c:\tmp" TsFormat="yyyy_MM_dd_hh_mm_ss" GenerationCount="2" />
    <add ProtocolName="smb:"  DirectoryName="\\unc\share" TsFormat="yyyy_MM_dd_hh_mm_ss" GenerationCount="2" />
  </DirectoryList>
</ShaperConfig>
