<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Spike_AppConfigSectionReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ShaperConfig" type="Spike_AppConfigSectionReader.ShaperConfig,Spike_AppConfigSectionReader"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="Spike_AppConfigSectionReader.Properties.Settings.ADS"
        connectionString="ConnectionStringToADS" />
    <add name="Spike_AppConfigSectionReader.Properties.Settings.PostgreSQL"
        connectionString="ConnectionStringToPostgreSQL" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>

    <Spike_AppConfigSectionReader.Properties.Settings>
      <setting name="DefaultValue" serializeAs="String">
        <value>Test.exe</value>
      </setting>
    </Spike_AppConfigSectionReader.Properties.Settings>


    <ShaperConfig configSource="ShaperConfig.private.config" />
    
  </userSettings>

</configuration>