<?xml version="1.0" encoding="utf-8" ?>
<ShaperConfig>
  <DebugOptions
    IsVerbose="false"
    IsInteractive="false"
    OnExceptionSendMail="true"
    MailTo="receiver@domain.com"
    MailFrom="sender@domain.com"
    MailSMTP="mail.domain.com"/>
  <LogOptions
    IsLogging="false"
    LogDirectory="c:\tmp"/>
  <DirectoryList>
    <add DirectoryName="c:\" TsFormat="YYYY_MM_DD" GenerationCount="1" />
    <add DirectoryName="d:\" TsFormat="YYYY_MM_DD" GenerationCount="2" />
  </DirectoryList>
</ShaperConfig>
